muffinWallet:
  name: muffin-wallet
  serviceAccount: muffin-wallet
  configMapName: muffin-wallet
  envConfigMapName: muffin-wallet-env
  secretName: muffin-wallet
  configMountPath: /app/config
  logMountPath: /logs
  
  replicas: 3
  image: aadan1lov/muffin-wallet:1.1.0
  imagePullPolicy: Always
  containerPort: 8081

  datasource:
    username: muffin-wallet
    password: muffin-wallet

  livenessProbe:
    path: /actuator/health/liveness
    initialDelaySeconds: 150
    periodSeconds: 10
    failureThreshold: 5

  readinessProbe:
    path: /actuator/health/readiness
    initialDelaySeconds: 10
    periodSeconds: 5
    failureThreshold: 10

  service:
    type: ClusterIP
    port: 80
    targetPort: 8081

  logService:
    enabled: true
    port: 80
    targetPort: 80

muffinCurrency:
  name: muffin-currency
  replicas: 2
  image: aadan1lov/muffin-currency:1.0.0
  imagePullPolicy: IfNotPresent
  containerPort: 8080

  service:
    type: ClusterIP
    port: 8083
    targetPort: 8080

  livenessProbe:
    path: /rate?from=PLAIN&to=CHOKOLATE
    initialDelaySeconds: 5
    periodSeconds: 10

  readinessProbe:
    path: /rate?from=PLAIN&to=CHOKOLATE
    initialDelaySeconds: 2
    periodSeconds: 5

nginx:
  image: nginx:1.29.3
  configMapName: nginx-config
  configMountPath: /etc/nginx
  logMountPath: /usr/share/nginx/html

postgres:
  externalHost: host.minikube.internal
  port: 5432
  database: muffin_wallet

ingress:
  className: nginx
  hosts:
    - host: muffin-wallet.ru
      serviceName: muffin-wallet
      servicePort: 80
    - host: muffin-wallet-log.ru
      serviceName: muffin-wallet-log
      servicePort: 80

istioGateway:
  host: wallet.example.com

istioResilience:
  timeout: 5s
  retries:
    attempts: 3
    perTryTimeout: 2s
    retryOn: 5xx,reset,connect-failure
  connectionPool:
    maxPendingRequests: 100
    maxRequests: 1000
  circuitBreaker:
    consecutive5xxErrors: 5
    interval: 10s
    baseEjectionTime: 30s
    maxEjectionPercent: 50
