apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Values.muffinWallet.envConfigMapName }}
data:
  JDK_JAVA_OPTIONS: -Dspring.config.additional-location={{ .Values.muffinWallet.configMountPath }}/application.yaml
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Values.muffinWallet.configMapName }}
data:
  application.yaml: |
    ---
    server:
      port: {{ .Values.muffinWallet.containerPort }}

    spring:
      datasource:
        url: jdbc:postgresql://{{ .Values.postgres.externalHost }}:{{ .Values.postgres.port }}/{{ .Values.postgres.database }}
        username: {{ .Values.muffinWallet.datasource.username }}
    logging.file.name: {{ .Values.muffinWallet.logMountPath }}/app.log
    currency:
      service:
        url: http://{{ .Values.muffinCurrency.name }}:{{ .Values.muffinCurrency.service.port }}/rate
    management:
      endpoints:
        web:
          exposure:
            include: health, info
      endpoint:
        health:
          probes:
            enabled: true
          show-details: always
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Values.nginx.configMapName }}
data:
  nginx.conf: |
    events {
    }

    http {
        server {
            listen 80;
            location /logs {
                alias {{ .Values.nginx.logMountPath }};
                autoindex on;
            }
        }
    }
